@model IEnumerable<JCVL20250324.AppWebMVC.Models.User>

@{
    ViewData["Title"] = "Usuarios";
}

<h1 class="text-center text-dark">Usuarios</h1>

<p class="text-end">
    <a class="btn btn-success btn-lg" asp-action="Create">Crear Usuario</a>
</p>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover mt-4" id="myTable">
        <thead class="table-dark text-center align-middle">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Username)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.Password)</th>
                <th>@Html.DisplayNameFor(model => model.Role)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="align-middle">
                    <td>@Html.DisplayFor(modelItem => item.Username)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td class="text-center">*****</td> @* Oculta la contraseña *@
                    <td>@Html.DisplayFor(modelItem => item.Role)</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                            <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                }
            });
        });
    </script>
}
